#configuration files
redis.conf
web.env

#binary files
*.pyc
*.sqlite3
*.rdb

#fixture files
*fixtures*

#node modules
*node_modules*

#files compiled via webpack
*.min.js
*.min.css
*.temp.js